* {
  /*border: 1px dotted orange;*/
  /*padding: 5px;*/
}

img {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 575px;
  margin-right: 25px;
}

body {
  font-family: arial;
  /*background-color: rgb(185, 179, 175);*/
  font-size: 24px;
  color: black
  /*background-image : url("background1.jpg");*/

}

/** image {
  margin: auto;
}*/

h1, h2, h3, h4 {
  width: 92%;
  margin: 25x auto;
  text-align: center;
}

#first {
  /*border: 2px solid black;*/
  padding: 2%;
  margin: 20px;
 }

#second {
  /*border: 2px solid black;*/
  padding: 2%;
  margin: 20px;
 }

#third {
  /*border: 2px solid black;*/
  padding: 2%;
  margin: 20px;
 }

 li {
   /*text-align: inline;*/
   margin: auto;
 }
