* {
  /*border: 1px dotted orange;*/
  padding: 5px;
}

body {
  font-family: arial;
  background-color: rgb(185, 179, 175);
  font-size: 16px;
}

h1 {
  /*border: 2px dotted red;*/
  width: 25%;
  margin: 25px auto;
}


li {
  /*border: 3px solid red;*/
  margin: 1%;
  padding: 2px;
}

p{
  /*border: 2px dotted green;*/
  overflow: scroll;
}

#first {
  /*border: 2px solid black;*/
  padding: 2%;
  margin: 20px

}
